# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# State storage
*.dat

# don't save config details, only structure
config.yml


.DS_Store
.vscode

runlog
test_cases*

.venv*
lib
